<div class="main">
  <div class="title">
    <h2>Weather Forecast</h2>
  </div> <br>
  <div class="location">
    <form (keydown.enter)="searchEvent(location.value)">
    <input 
      id="pac-input"
      class="search-bar"
      #location
      type="text"
      autocomplete="off"
      placeholder="Enter Location"
      [(ngModel)]="locationVal"                                                                                                          
    /></form><br><br>
    <!-- <div class="loading" *ngIf="loading">Loading......</div> -->
    <div class="spinner-border text-primary" *ngIf="loading" role="status">
      <span class="sr-only"></span>
    </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="errorMessage">
     <label for="error">No Data found for this location!!!
      Please try different location.....
     </label>
  </div>

  <div>
    <div class="container" *ngIf="weatherDetails && !loading && location.value"> 
      <div class="row">
        <div class="col-sm">
         
          <label for="weather1" class="weather"> {{location.value}} Weather Condition</label> 
          <div><br>
            {{WeatherData.weatherCondition}}
          </div>
        </div>
        <div class="col-sm">
          <label for="weather2" class="weather">Temperature Value</label> 
          <div><br>
            {{WeatherData.temperature}} °C|°F
          </div>
        </div>
        <div class="col-sm">
          <label for="weather3" class="weather">Humidity Value</label> 
          <div><br>
            {{WeatherData.humidity}} °C|°F

      
          </div>
        </div>
      </div>
  </div>
